<button (click)="onClick()"> ROLL </button>
<button (click)="addCharacter()"> Add Character </button>
<h1>{{ totalRollAmount }}</h1>

<div *ngFor="let character of characters">
  <button (click)="attack(character)">{{character.name}}</button>
</div>
<div style="margin-bottom: 15px"></div>
<div *ngFor="let charactera of characters">  
  <button [class.selected]="selectedCharacter?.id === charactera.id" (click)="selectCharacter(charactera)"> {{charactera.name}} </button>
  <span>hitpoints: </span>
  <span>{{ charactera.currentHitPoints }}</span>
</div>
<h2>{{ message }}</h2>