.creature-attributes {
    height: 48px;
    width: 48px;
    position: absolute; 

}

.creature-effect-area {
    height: 48px;
    width: 48px;
    position: absolute;
    pointer-events: none;

    &.grid-border {
        border: 1px solid  rgba(255,255,255,.025);
    }

    &.highlighted {
        background-color: white;
        opacity: .1;
    }
}

.character-image {
    position: absolute;
    bottom: 4px;
    background-size: cover;
    background-repeat: no-repeat;  
}

.selected {
    border: solid red; 
}

.execute {
    position: absolute;
    left: 48px;
    top: 11px;
    width: 85px;
    background-color: beige;
    cursor: pointer;
}

.execute:hover {
    background-color: red
}

.action-glow {
    filter: brightness(200%)
}

.active {
  background-color: rgba(255,255,255,.1);
}

.bgimg {
    background-image: url('../assets/zombie1.png');
}

.no-event{
    pointer-events: none;
}


///////// 

.speed-dial {
    position: relative;
    top: -85px;
    left: 85px;
    width: 40px;
    height: 40px;
    background-color: bisque;
    opacity: .05;
    margin: 5px;
    z-index: 1000;


    .selected {
        background-color: brown;
    }
}

.speed-dial:hover {
    background-color: brown;
    
}

.speed-dial-container:hover {
   .speed-dial {
    opacity: .5
   }       
}

.speed-dial-container {
  height: 48px;
}


    .option-box {
      border: 1px solid #333333;
      display: inline-flex;
      width: 40px;
      height: 40px;
      background-color: #556b2f
    }
