<div
  class="creature-attributes"
  (click)="onCreatureSelect()"
  [style.left]="creatureAsset.positionX + 'px'"
  [style.top]="creatureAsset.positionY + 'px'"
  [class.selected]="creatureAsset.selected"
  [class.active]="creatureAsset.activePlayer"
>
  <div
    [style.z-index]="creatureAsset.zIndex"
    [style.width.px]="creatureAsset.containerWidth"
    [style.height.px]="creatureAsset.containerHeight"
    [style.bottom.px]= "creatureAsset.imgBottomOffset"
    [style.position]= "'absolute'"
    [style.overflow]="'hidden'">
    <img
      src="{{ creatureAsset.imgSource }}"
      [style.width]="creatureAsset.imgSheetWidth"
      [style.height.px]="'auto'"
      [style.top.px]="creatureAsset.imgSpriteTopOffset"
      [style.left.px]="creatureAsset.imgSpriteLeftOffset"
      [style.position]="'relative'"/>
  </div>
</div>