.creature-attributes {
    height: 48px;
    width: 48px;
    position: absolute; 

}

.character-image {
    position: absolute;
    bottom: 4px;
    background-size: cover;
    background-repeat: no-repeat;  
}

.selected {
    border: solid green;
    
}

.bgimg {
    background-image: url('../assets/zombie1.png');
}
