<div *ngIf="creatureAsset.activePlayer">
  <div *ngFor="let cell of creatureAsset.location.cell.neighbors">
    <div *ngFor="let c of cell.neighbors"
    class="creature-effect-area grid-border"
    [style.left.px]="c.posX"
    [style.top.px]="c.posY"></div>
  </div>
</div>
<div
  class="creature-attributes"
  (click)="onCreatureSelect()"
  [style.left]="creatureAsset.location.positionX + 'px'"
  [style.top]="creatureAsset.location.positionY + 'px'"
  [class.selected]="creatureAsset.selected"
  [class.active]="creatureAsset.activePlayer">
  <div
  class="no-event"
  [style.z-index]="creatureAsset.location.zIndex"
  [style.width.px]="creatureAsset.sprite.containerWidth"
  [style.height.px]="creatureAsset.sprite.containerHeight"
  [style.bottom.px]="creatureAsset.sprite.imgBottomOffset"
  [style.position]="'absolute'"
  [style.overflow]="'hidden'">
  



  <img
    class="no-event"
    src="{{ creatureAsset.sprite.imgSource }}"
    [style.width]="creatureAsset.sprite.imgSheetWidth"
    [style.height.px]="'auto'"
    [style.top.px]="creatureAsset.sprite.imgSpriteTopOffset"
    [style.left.px]="creatureAsset.sprite.imgSpriteLeftOffset"
    [class.action-glow]="creatureAsset.sprite.performingAction"
    [style.position]="'relative'"/>
</div>

  <div
    class="speed-dial-container"
    *ngIf="creatureAsset.activePlayer && !creatureAsset.movement.moving && sideBarOn">

    <div
      class="speed-dial"
      *ngFor="let action of creatureAsset.attributes.actions">

      <div
        [class.selected]="action.selected"
        (click)="selectAction(action, $event)">
       
         <div
          (click)="executeAction(action)"
          class="execute"
          *ngIf="action.selected">
          EXECUTE
        </div>

        <img
          class="no-event"
          src="{{ action.iconUrl }}"
          [style.width.px]="41"
          [style.height.px]="41"
          [style.top.px]="0"
          [style.left.px]="0"
          [style.position]="'relative'"/>
      </div>
    </div>
  </div>
</div>

<div
    class="action-animation-container"
    *ngIf="actionAnimation && actionAnimation?.sprite"
    [style.zIndex]="'1000'"
    [style.width.px]="actionAnimation.sprite.containerWidth"
    [style.height.px]="actionAnimation.sprite.containerHeight"
    [style.bottom.px]="actionAnimation.sprite.imgBottomOffset"
    [style.top.px]="actionAnimation.sprite.locY"
    [style.left.px]="actionAnimation.sprite.locX"
    [style.position]="'absolute'"
    [style.overflow]="'hidden'">

    <img
      class="no-event"
      src="{{ actionAnimation.sprite.imgSource }}"
      [style.width]="actionAnimation.sprite.imgSheetWidth"
      [style.height.px]="'auto'"
      [style.top.px]="actionAnimation.sprite.imgSpriteTopOffset"
      [style.left.px]="actionAnimation.sprite.imgSpriteLeftOffset"
      [style.position]="'relative'"/>
  </div>

<div
  *ngIf="textAnimation && textAnimation.text"
  [style.width]="textAnimation.width"
  [style.height]="textAnimation.height"
  [style.top.px]="textAnimation.locY"
  [style.left.px]="textAnimation.locX"
  [style.color]="textAnimation.color"
  [style.position]="'absolute'"
  [style.zIndex]="'1001'" >
  {{ textAnimation.text }}
</div>

<div 
  *ngFor="let cell of creatureAsset.selectedAction?.areaOfEffect | keyvalue"
  [class.creature-effect-area]="creatureAsset.selectedAction?.selected"
  [class.highlighted]="creatureAsset.selectedAction?.selected && creatureAsset.inInitiative"
  [style.left.px]="cell?.value?.posX"
  [style.top.px]="cell?.value?.posY">
</div>