
<div 
  class="rows"
  *ngFor="let row of map?.gridDisplay">

  <div 
    class="cell"
     *ngFor="let cell of row">

    <div
      (click)="cellClick(cell, $event)"
      class="back-ground"
      [class.obstacle]="cell.obstacle"
      [class.path]="cell.path"
      [class.destination]="cell.destination">
      
      <img
        class="background-image"
        src="{{
          cell.imgUrl
        }}"
        [style.width.px]="cell.imgWidth"
        [style.heigh.px]="cell.imgHeight"
        [style.left.px]="cell.imgIndexX"
        [style.top.px]="cell.imgIndexY"/>

    </div>
  </div>

 
</div>

<creature-asset
  *ngFor="let creature of creatures"
  [creatureAsset]="creature"
  [map]="map"
  [gridCreatures]="creatures">
</creature-asset>

<hive-force-animation></hive-force-animation>


